src/main/resources/META-INF/hero.xsd

<xsd:schema xmlns="http://www.shidq.com/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.shidq.com/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="elementname">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="age" type="xsd:int" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>